@charset "utf-8";
body{
	background-color: #1F7B97;
	color:aliceblue;
}
header {
    color: #FFFFFF;
    font-size: 48px;
}
h1{
	width: 100%;
	background-color: saddlebrown;
	color: blanchedalmond;
}
body nav ul {
    text-decoration: none;
    list-style-type: none;

}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    padding: 25px;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: bolder;
}
a{
	text-decoration: none;
}
a:link {
	color: #afaff3;
	font-weight: bolder;
}

a:visited{
	color: #ED756E;
	font-weight: bolder
}
a:hover {
    color: #F6DC33;
    font-weight: bolder;
	font-size: large;
}
nav {
    height: auto;
    background-color: #ABE3EA;
}
.flex.conteiner{
	display: flex;
	background-color: darkorange;
}
.flex.conteiner>div{
	background-color: darksalmon;
	margin: 10px;
	padding: 10px;
}

.picture{
	width: 100%;
	height: auto;
}

@media (max-width:360px){
	body{
		background-color: #006232;
		color:#e0cf85;
	}
	nav,main,footer{
		width: 100%;
		padding: 10px;
	}
	.flex.conteiner{
		flex-direction: column;
	}
	.flex.conteiner>div{
		width: 100%;
	}
	.picture{
		width: 100%;
	}
}



@media screen and (max-width:640px) and (orientation:landscape){
	body{
		background-color: #ed756e;
		text-shadow: 0px 0px #5b440b;
	}
	nav,main,footer{
		width: 80%;
		padding: 30px;
	}
	.picture{
		width: 50%;
	}
}

@media screen and (min-width:768px) {
	body{
		text-shadow: 0px 0px #fbf7fa;
		background-color: #22001
	}
	.flex.conteiner{
		justify-content: center;
	}
	.flex.conteiner > div {
		width: 30%
	}
	.picture{
		width: 25%;
	}
}
